@page "/AddAdult"
@using Microsoft.AspNetCore.Components
@using Models
@using Assignment1.Data
@inject IAdultsData _adults;
@inject NavigationManager nvg;


<h3>AddFamily</h3>
    
<EditForm Model="@newAdultItem" OnValidSubmit="@AddNewAdult"><DataAnnotationsValidator/><ValidationSummary/>
    <div class="form-group"> Job title<br/> <InputTextArea @bind-Value="job.JobTitle"></InputTextArea></div>
    <div class="form-group"> Salary<br/> <InputNumber @bind-Value="job.Salary"></InputNumber></div>
    <div class="form-group"> First name<br/> <InputTextArea @bind-Value="newAdultItem.FirstName"></InputTextArea></div>
    <div class="form-group"> Last name<br/> <InputTextArea @bind-Value="newAdultItem.LastName"></InputTextArea></div>
    <div class="form-group"> Hair color<br/> <InputTextArea @bind-Value="newAdultItem.HairColor"></InputTextArea></div>
    <div class="form-group"> Eye color<br/> <InputTextArea @bind-Value="newAdultItem.EyeColor"></InputTextArea></div>
    <div class="form-group"> Age<br/> <InputNumber @bind-Value="newAdultItem.Age"></InputNumber></div>
    <div class="form-group"> Weight<br/> <InputNumber @bind-Value="newAdultItem.Weight"></InputNumber></div>
    <div class="form-group"> Height<br/> <InputNumber @bind-Value="newAdultItem.Height"></InputNumber></div>
    <div class="form-group"> Sex<br/> <InputTextArea @bind-Value="newAdultItem.Sex"></InputTextArea></div>
    <p class="actions">
            <button class="btn btn-outline-dark" type="submit">Create</button>
        </p>
    </EditForm>

@code {
    private Adult newAdultItem = new Adult();
    private Job job = new Job();
    
    private void AddNewAdult()
    {
        newAdultItem.JobTitle = job;
        _adults.AddAdult(newAdultItem);
        nvg.NavigateTo("/Adults");
    }
}