@page "/Register"
@using Models
@using Assignment1.Data
@inject NavigationManager nvg;
@inject IUserService _userService;
<h3>Registration page</h3>

<link href="Register.css" rel="stylesheet">

<EditForm Model="@newUser" OnValidSubmit="@AddNewUser"><DataAnnotationsValidator/><ValidationSummary/>
    <label>Username:</label><br/>
    <input type="text" placeholder="user name"@bind-value="newUser.UserName"/>
    <br/><label id="word">Password:</label><br/>
     <input type="text" placeholder="password" @bind-value="newUser.Password"/>
    <p class="actions">
                <button id="btn" class="btn btn-outline-dark" type="submit">Create</button>
            </p>
</EditForm>

@code {
    private User newUser= new User();

    private void AddNewUser()
    {
        _userService.AddUser(newUser);
        nvg.NavigateTo("/");
    }
    
}