
select option:checked, select option:hover{
    box-shadow: 0 0 10px 100px #c8d2d3 inset;
    background: #c8d2d3 !important;
}

select:focus > option:checked {
    background: #c8d2d3 !important;
}

#selecter{
    border: 1px solid black;
    margin-bottom: 1rem;
}

th, tr:hover{
    background-color: #c8d2d3; 
    font-size: 1.1rem;
}

